@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: 'Roboto', sans-serif;

}

html {
	scroll-behavior: smooth;
}

img {
	width: 300px;
	height: 300px;
}

#LandingPagebg {
	background-image: url(https://wallpaperaccess.com/full/2439464.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#logo {
	width: 40px;
	height: 40px;
}

body {
	background-image: url(https://images.pexels.com/photos/7078619/pexels-photo-7078619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

#aboutMebg {
	background-image: url(https://media.istockphoto.com/photos/dark-blue-metal-pattern-background-picture-id1161683700?b=1&k=20&m=1161683700&s=612x612&w=0&h=3B2GIQVCbRdb_DvtFqa3E6YpDK7t8TIe0uLeekqbdRw=);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#ContactMePg {
	background-image: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#gmap_canvas {
	height: 90%;
	width: 100%;
}
